<template>
  <b-container class="w-75">
    <b-input @keyup.enter.native="getInformations" v-model="hostname"
      :placeholder="$t('page.cacheManager.hostname.placeholder')" />
    <b-form-text>{{ $t("page.cacheManager.hostname.hint") }}</b-form-text>

    <div class="mt-5">
      <b-table show-empty bordered head-variant="light" :filter="table.filter" :fields="table.fields"
        :items="table.items" :current-page="table.currentPage" :per-page="table.perPage"
        :empty-text="$t('table.emptyText')" :empty-filtered-text="$t('table.emptyFilteredText')" @filtered="onFiltered">
        <template v-slot:top-row>
          <b-input-group class="p-1">
            <b-input-group-prepend is-text>
              <b-icon icon="search" />
            </b-input-group-prepend>
            <b-form-input type="search" v-model="table.filter" />
          </b-input-group>
        </template>

        <template v-slot:cell(class)="row">
          <div class="cursor-pointer" @click="toggle(row)">
            <code>{{ row.item.class }}</code>
          </div>
        </template>

        <template v-slot:row-details="row">
          <b-form @submit="onSubmit($event, forms[row.item.class])">
            <b-row>
              <b-col>
                <b-form-select v-model="forms[row.item.class].Operation" :options="operation.options" required>
                  <template v-slot:first>
                    <option :value="null" disabled>
                      -- {{ $t("page.cacheManager.operations") }} --
                    </option>
                  </template>
                </b-form-select>
              </b-col>

              <b-col>
                <b-form-select v-model="forms[row.item.class].Scope" :options="scope.options" required>
                  <template v-slot:first>
                    <option :value="null" disabled>
                      -- {{ $t("page.cacheManager.scopes") }} --
                    </option>
                  </template>
                </b-form-select>
              </b-col>
            </b-row>

            <hr />

            <div class="p-3" style="position: relative; max-height: 300px; overflow-y: scroll">
              <div v-for="field of row.item.fields" v-bind:key="`${row.item.class}.${field.name}`">
                <b-form-group label-cols-sm="4" label-cols-lg="3" :label="field.name">
                  <b-form-checkbox v-if="getType(field.type) === 'checkbox'"
                    v-model="forms[row.item.class].Object.Data[field.name]" />
                  <b-form-input v-else :type="getType(field.type)" no-wheel
                    v-model="forms[row.item.class].Object.Data[field.name]" />
                </b-form-group>
              </div>
            </div>

            <hr />

            <b-button type="submit" variant="primary">{{
                $t("submit")
            }}</b-button>
          </b-form>
        </template>
      </b-table>

      <b-pagination v-model="table.currentPage" :total-rows="table.items.length" :per-page="table.perPage" />
    </div>

    <b-modal id="result-modal" header-bg-variant="primary" header-text-variant="light" size="xl" hide-footer
      :title="`${resultTable.title} - ${resultTable.items.length} row(s)`">
      <b-table show-empty bordered responsive :items="resultTable.items" :current-page="resultTable.currentPage"
        :per-page="resultTable.perPage" />

      <b-pagination v-model="resultTable.currentPage" :total-rows="resultTable.items.length"
        :per-page="resultTable.perPage" />
    </b-modal>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      hostname: null,
      table: {
        filter: null,
        fields: [
          {
            key: "class",
            sortable: true,
          },
        ],
        items: [],
        currentPage: 1,
        perPage: 10,
      },
      classes: [],
      scope: {
        options: [],
      },
      operation: {
        options: [],
      },
      forms: {},
      resultTable: {
        title: null,
        items: [],
        currentPage: 1,
        perPage: 5,
      },
    };
  },
  methods: {
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    // @TODO: Return validator. E.g.: UInt8 should be greater or equals to 0 and lesser than 256
    getType(type) {
      switch (type) {
        case 0: // Boolean
        case undefined: // @TODO: Workaround. This is a bug. '0' is considered null by reflection
          return "checkbox";

        case 1: // UInt32
        case 2: // UInt64
        case 3: // Int32
        case 4: // Int32Zero
        case 5: // Int16
        case 6: // UInt8
        case 7: // UInt16
        case 8: // Double
        case 9: // DoubleZero
        case 15: // Int64
        case 16: // Int8
          return "number";

        case 13: // DateTime
        case 19: // DateTimeOffset
          return "datetime-local";

        case 10: // String
        case 11: // StringEmpty
        case 12: // StringSmall
        default:
          return "text";
      }
    },
    getInformations() {
      const promises = [
        fetch(`http://${this.hostname}:2525/SvcManager/Classes`),
        fetch(`http://${this.hostname}:2525/SvcManager/Scopes`),
        fetch(`http://${this.hostname}:2525/SvcManager/Operations`),
      ];

      Promise.all(promises)
        .finally(() => {
          this.$emit("loading", false);
        })
        .then((response) => {
          (async () => {
            this.classes = (await response[0].json()).classes;
            this.scope.options = (await response[1].json()).scopes;
            this.operation.options = (await response[2].json()).operations;
          })();
        })
        .catch((error) => {
          this.classes = [];
          this.scope.options = [];
          this.operation.options = [];

          this.$emit("message", {
            title: error.name,
            body: error.message,
            variant: "danger",
          });
        });

      this.$emit("loading", true);
    },
    toggle(row) {
      if (row.detailsShowing) {
        row.item.fields = null;
        return row.toggleDetails();
      }

      fetch(`http://${this.hostname}:2525/SvcManager/Class/${row.item.class}`)
        .finally(() => {
          this.$emit("loading", false);
        })
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          row.item.fields = json.fields;
          row.toggleDetails();
        })
        .catch((error) => {
          this.$emit("message", {
            title: error.name,
            body: error.message,
            variant: "danger",
          });
        });

      this.$emit("loading", true);
    },
    onSubmit(evt, form) {
      evt.preventDefault();

      const options = {
        method: "POST",
        body: JSON.stringify(form),
      };

      fetch(`http://${this.hostname}:2525/SvcManager/`, options)
        .finally(() => {
          this.$emit("loading", false);
        })
        .then((response) => {
          if (response.ok) {
            return response.json();
          }

          throw new Error({ message: response.body, name: response.body });
        })
        .then((json) => {
          if (json["Objects"]) {
            this.resultTable.title = json["Status"];
            this.resultTable.items = json["Objects"].map(
              (object) => object["Data"]
            );

            this.$bvModal.show("result-modal");
          } else {
            // const success = json["Status"] === "Ok";
            // const title = success ? ""

            this.$emit("message", {
              title: json["Status"],
              body: json["Status"],
              variant: json["Status"] === "Ok" ? "primary" : "danger",
            });
          }
        })
        .catch((error) => {
          this.$emit("message", {
            title: error.name,
            body: error.message,
            variant: "danger",
          });
        });

      this.$emit("loading", true);
    },
  },
  watch: {
    classes: function (val) {
      this.table.items = val.map((class_) => {
        return { class: class_ };
      });

      val.forEach((class_) => {
        this.forms[class_] = {
          Operation: null,
          Scope: null,
          Object: {
            Name: class_,
            Data: {},
          },
        };
      });
    },
  },
};
</script>

<style scoped>
.cursor-pointer {
  cursor: pointer;
}
</style>
