<template>
  <b-container class="w-75">
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block v-on:click="toggle" variant="info">
          {{
              mode === Mode.PACKET
                ? $t("page.pduParser.packets")
                : $t("page.pduParser.files")
          }}
          <b-icon icon="arrow-repeat" />
        </b-button>
      </b-card-header>
      <b-card-body>
        <b-form @submit.prevent="onSubmit">
          <b-form-select v-model="protocol" :options="protocols" required>
            <template v-slot:first>
              <option :value="null" disabled>
                -- {{ $t("page.pduParser.protocols") }} --
              </option>
            </template>
          </b-form-select>

          <b-form-input v-model="argsText" :placeholder="$t('page.pduParser.args')" class="mt-3" />

          <div class="mt-3 mb-3">
            <div v-if="mode === Mode.PACKET">
              <b-form-textarea v-model="text" rows="5" wrap="off" required />
              <b-form-checkbox class="mt-3" v-model="saveAsFile">
                <b-icon icon="file-arrow-down" />
                {{ $t("page.pduParser.saveAsFile") }}
              </b-form-checkbox>
            </div>

            <div v-if="mode === Mode.FILE">
              <b-form-file v-model="files" accept=".txt, .svlog" multiple required />
              <b-form-checkbox class="mt-3" v-model="packetByPacket">
                {{ $t("page.pduParser.packetByPacket") }}
              </b-form-checkbox>
            </div>
          </div>

          <div>
            <b-button type="submit" variant="primary">{{
                $t("submit")
            }}</b-button>
          </div>
        </b-form>
      </b-card-body>
    </b-card>

    <b-modal id="result-modal" header-bg-variant="primary" header-text-variant="light" size="xl" hide-footer
      :title="`Result`">
      <div style="position: relative; max-height: 750px; overflow-y: scroll">
        <div v-for="(item, index) in items" :key="index">
          <b-badge v-b-toggle="`parsed-${item.index}`">{{
              item.index
          }}</b-badge>
          <b-collapse visible :id="`parsed-${item.index}`" class="mt-2">
            <b-card :sub-title="item.packet">
              <pre>{{ item.response }}</pre>
            </b-card>
          </b-collapse>
        </div>
      </div>
    </b-modal>
  </b-container>
</template>

<script>
import FileSaver from "file-saver";

const Mode = {
  PACKET: 1,
  FILE: 2,
};

export default {
  data() {
    return {
      Mode,
      mode: Mode.PACKET,
      protocol: null,
      protocols: [],
      text: null,
      argsText: null,
      args: [],
      items: [],
      packets: [],
      files: [],
      saveAsFile: false,
      packetByPacket: false,
    };
  },
  methods: {
    toggle() {
      if (this.mode == Mode.PACKET) {
        this.mode = Mode.FILE;
      } else if (this.mode == Mode.FILE) {
        this.mode = Mode.PACKET;
      }
    },
    onSubmit() {
      if (this.mode == Mode.PACKET) {
        this.submitPackets(this.packets).then((array) => {
          this.items = array.map((text, index) => {
            return { packet: this.packets[index], response: text, index };
          });

          if (this.saveAsFile) {
            const fileName = `${this.protocol}_${Date.now()}.parsed`;
            this.saveAs(fileName, this.items);
          } else {
            this.$bvModal.show("result-modal");
          }
        });
      } else if (this.mode == Mode.FILE) {
        this.submitFiles(this.files);
      }
    },
    submitPackets(packets) {
      this.$emit("loading", true);

      return fetch("/parse-packets", {
        method: "POST",
        body: JSON.stringify({
          packets,
          protocol: this.protocol,
          args: this.args,
        }),
        headers: { "Content-Type": "application/json" },
      })
        .finally(() => {
          this.$emit("loading", false);
        })
        .then((response) => {
          return response.json();
        })
        .then((array) => {
          return array;
        })
        .catch((error) => {
          this.$emit("message", {
            title: error.name,
            body: error.message,
            variant: "danger",
          });
        });
    },
    submitFiles(files) {
      files.forEach((file) => {
        this.readFile(file).then((data) => {
          if (this.packetByPacket) {
            const packets = data.split("\n").filter((packet) => {
              return packet !== "";
            });

            this.submitPackets(packets).then((array) => {
              const items = array.map((text, index) => {
                return { packet: packets[index], response: text, index };
              });

              const pos = file.name.lastIndexOf(".");
              const fileName =
                file.name.substr(0, pos < 0 ? file.name.length : pos) +
                ".parsed";

              this.saveAs(fileName, items);
            });
          }
        });
      });
    },
    readFile(file) {
      return new Promise((resolve, reject) => {
        const fileReader = new FileReader();
        fileReader.onload = () => {
          resolve(fileReader.result);
        };
        fileReader.onerror = reject;
        fileReader.readAsText(file);
      });
    },
    saveAs(fileName, items) {
      var data = "";

      items.forEach((item) => {
        data = data.concat(
          `[${item.index}]\n`,
          item.packet,
          "\n",
          item.response,
          "\n\n"
        );
      });

      const blob = new Blob([data], {
        type: "text/plain;charset=utf-8",
      });

      FileSaver.saveAs(blob, fileName);
    },
  },
  watch: {
    text: function (val) {
      this.packets = val.split("\n").filter((packet) => {
        return packet !== "";
      });
    },
    argsText: function (val) {
      this.args = val.split(" ").filter((arg) => {
        return arg !== "";
      });
    },
  },
  beforeMount() {
    fetch("/parsers")
      .then((res) => {
        return res.json();
      })
      .then((json) => {
        this.protocols = json;
      })
      .catch((error) => {
        this.classes = [];
        this.scope.options = [];
        this.operation.options = [];

        this.$emit("message", {
          title: error.name,
          body: error.message,
          variant: "danger",
        });
      });
  },
};
</script>

<style scoped>
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
</style>
