<template>
  <div>
    <b-navbar type="dark" variant="dark">
      <b-navbar-brand to="/cache-manager">SVC Helper</b-navbar-brand>
      <b-navbar-nav class="ml-auto" right>
        <b-button-group>
          <b-button v-for="entry in languages" v-bind:key="entry" variant="link" v-on:click="$i18n.locale = entry">
            <country-flag :country="$t('_flag', entry)" />
          </b-button>
        </b-button-group>
      </b-navbar-nav>
    </b-navbar>

    <b-container id="app">
      <loading :active.sync="isLoading" color="#007BFF" />

      <b-nav tabs justified class="mb-5" align="center">
        <b-nav-item to="/cache-manager">
          {{ $t("page.cacheManager.title") }}
        </b-nav-item>
        <b-nav-item to="/pdu-parser">
          {{ $t("page.pduParser.title") }}
        </b-nav-item>
        <b-nav-item disabled to="/google-maps">
          {{ $t("page.googleMaps.title") }}
        </b-nav-item>
        <b-nav-item disabled to="/settings">
          {{ $t("page.settings.title") }}
        </b-nav-item>
      </b-nav>

      <b-modal id="info-modal" :header-bg-variant="modal.variant" header-text-variant="light" hide-footer>
        <!-- <template #modal-header>
          <b-icon icon="x-circle" font-scale="3" />
          <b-button-close v-on:click="close" />
        </template>
        <div class="d-block text-center" v-if="modal.body">
          {{ modal.body }}
        </div>
      </b-modal> -->

        <div class="d-block text-center" v-if="modal.body">
          {{ modal.body }}
        </div>
      </b-modal>

      <router-view @loading="onLoading" @message="onMessage" />
    </b-container>
  </div>
</template>

<script>
import Loading from "vue-loading-overlay";

import "vue-loading-overlay/dist/vue-loading.css";

export default {
  name: "app",
  data() {
    return {
      isLoading: false,
      modal: {
        title: null,
        body: null,
      },
      languages: Object.keys(this.$i18n.messages),
    };
  },
  components: {
    Loading,
  },
  methods: {
    onLoading(isLoading) {
      this.isLoading = isLoading;
    },
    onMessage(message) {
      this.modal = message;
      this.$bvModal.show("info-modal");
    },
  },
};
</script>

<style>
#app {
  margin-top: 60px;
  margin-bottom: 60px;
}
</style>
